%h2#admin-h2 Panneau administrateur
%h3.admin-h3 Principal
.row
    .col-md-3
        = link_to "Chambres", admin_rooms_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Prix", admin_price_selection_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Réservations", admin_bookings_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Rapport journalier", admin_daily_report_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
%h3.admin-h3 Secondaire
.row
    .col-md-3
        = link_to "Types de chambre", admin_room_types_path, :class => "btn btn-secondary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Méthodes de paiement", admin_payment_methods_path, :class => "btn btn-secondary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Types de vue", admin_view_types_path, :class => "btn btn-secondary btn-admin-custom", :type => "button"

