%h2#admin-h2 Panneau administrateur
%h3.admin-h3 Prix
%p.text-center Voulez-vous consulter les prix saisonniers ou les catégories de prix?
.row
    .col-md-3
    .col-md-3
        = link_to "Prix saisonnier", admin_seasonal_rates_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
    .col-md-3
        = link_to "Catégories de prix", admin_price_categories_path, :class => "btn btn-primary btn-admin-custom", :type => "button"
    .col-md-3