#home-img
    #home-msg
        Bienvenue sur le site de Nagano Inn, l'hôtel de vos désirs. Chez Nagano Inn, votre confort est notre priorité. En passant votre séjour chez nous, vous dites adieu aux problèmes et bonjour à la tranquillité d'esprit. 
        %br
        %br
        %strong Profitez d'un rabais de 25% pour la période du 8 février au 5 mars.