// Import Boostrap classes. Ready to override.
@import "bootstrap/dist/css/bootstrap";

// Custom Fonts
// Logo
@font-face {
    font-family: "MagicalSource";
    src: font-url("MagicalSource.ttf");
}
// Nav
@font-face {
    font-family: "MADE TOMMY Regular";
    src: font-url("MADE-TOMMY-Regular.otf");
}
// Text
@font-face {
    font-family: "MADE TOMMY Medium";
    src: font-url("MADE-TOMMY-Medium.otf");
}
// Title
@font-face {
    font-family: "Linux Libertine Semibold";
    src: font-url("LinLibertine_RZ.ttf");
}

// Color pallet
$grey-white: #f7f7f7;
$grey: #bfae99;
$darkgrey: #292926;
$royalblue: #2432cc;
$goldish-yellow: #d9a441;

// Body
body {
    font-family: "MADE TOMMY Regular";
    font-size: 1.15rem;
    line-height: 1.75;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Linux Libertine Semibold";
    color: $darkgrey;
}

#admin-h2 {
    margin: 2.5rem 1rem;
}

.admin-h3 {
    margin: 1.5rem 1rem;
}

// Navbar
nav {
    font-size: 0.95rem;
    height: 80px;
    position: relative;

    .navbar-brand {
        padding: 0;
        img {
            height: 70px;
            width: auto;
        }
    }

    ul {
        width: 80%;
        height: 100%;
        justify-content: flex-end; //bootstrap uses flexbox

        li {
            //height: 30px;
            margin-right: 2rem;
        }

        a {
            //line-height: 30px;
            color: $darkgrey;
            opacity: 0.85;
            padding: 0.2rem 0 !important;
            border-bottom: solid 3px transparent;

            &:hover {
                border-color: $darkgrey;
                opacity: 1;
            }

            &:active {
                opacity: 1;
            }
        }
    }

    .btn-reserver {
        margin-left: 1rem;
        a {
            color: $royalblue;
            padding: 0.4rem 2rem !important;
            border: solid 3px $royalblue;
            &:hover {
                border-color: $grey-white; //workaround
                color: $grey-white;
                background-color: $royalblue;
            }
        }
    }
}

// Home

#home-img {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: asset-url("home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    #home-msg {
        background-color: rgba(247, 247, 247, 0.75);
        width: 40%;
        padding: 50px 25px;
        position: relative;
        top: 20%;
        left: 55%;
    }
}

// Admin panel
.btn-admin-custom {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
}

// Footer

.dk-footer {
    background-color: $darkgrey;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-family: "MADE TOMMY Regular";
}
.copyright {
    padding: 20px 0;
    line-height: 48px;

    span {
        font-size: 0.9rem;
        color: $grey;
    }

    a {
        font-size: 0.7rem;
        color: $grey;

        &:hover {
            color: $grey-white;
            text-decoration: none;
        }
    }
}

.copyright-menu ul {
    text-align: right;
    margin: 0;

    li {
        display: inline-block;
        padding-left: 20px;
    }
}
