%footer.dk-footer
    .copyright
        .container-lg
            .row
                .col
                    %span Nagano Inn © 2021. Tous droits réservés
                .col
                    .copyright-menu
                        %ul
                            %li
                                = link_to "CHAMBRES & SUITES", "/rooms" 
                            %li
                                = link_to "ACTIVITÉS", "/activity" 
                            %li
                                = link_to "RESTAURATION", "/dining" 
                            %li
                                = link_to "CONTACTEZ-NOUS", "contact" 
