%nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-lg
        - if !params[:controller].include?('admin/')
            = link_to image_tag( "logo_long.png"), "/", :class => "navbar-brand" 
            %button{:class => "navbar-toggler", :type => "button", :type => "button", :data-bs-toggle => "collapse", :data-bs-target => "#navbarSupportedContent", :aria-controls => "navbarSupportedContent", :aria-expanded => "false", :aria-label => "Toggle navigation"}
                %span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarSupportedContent
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                %li.nav-item
                    = link_to "CHAMBRES & SUITES", "/rooms", :class => "nav-link"
                %li.nav-item
                    = link_to "ACTIVITÉS", "/activity", :class => "nav-link" 
                %li.nav-item
                    = link_to "RESTAURATION", "/dining", :class => "nav-link" 
                %li.nav-item
                    = link_to "CONTACTEZ-NOUS", "/contact", :class => "nav-link"
            .btn-reserver
                %a{:class => "nav-link", :href => "#"} RÉSERVER
        - else 
            = link_to image_tag( "logo_long_admin.png"), "/admin", :class => "navbar-brand"
            = link_to "Retourner sur le site", root_path, :class => "btn btn-secondary nav-link", :type => "button"