<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Inn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FAVICON -->
    <%= favicon_link_tag asset_path('favicon.png') %>



  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container-lg">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
